<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
 
      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
 
      <!-- Be sure to leave the brand out there if you want it shown -->
      <%= link_to "DC Photo Grid", root_path, class: "brand" %>
 
      <!-- Everything you want hidden at 940px or less, place within here -->
      <div class="nav-collapse collapse nav-text">
      	<ul class="nav">
      		<li><%= link_to "Home", home_path %></li>
					<li><%= link_to "About", about_path %></li>
				</ul>
				<ul class="nav pull-right">
          <% if @admin %>
            <li><%= link_to "Remove Approved", approved_index_path %></li>
            <li><%= link_to "Moderate", approval_index_path %></li>
          <% end %>
          <% if user_signed_in? %>
            <li><%= link_to "Add Photo", new_pin_path %></li>
            <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
            <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
          <% else %>
      		  <li><%= link_to "Login", new_user_session_path %></li>
          <% end %>  
				</ul>
      </div>
    </div>
  </div>
</div>