<!DOCTYPE html>
<html>
	<head>
	  <title>DC Photo Grid</title>
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	  <meta name="description" content="The space of Washington DC is made up of government buildings, businesses, and domestic dwellings. What's left over is the public space of parks, streets, and sidewalks. This is a crowd sourced public archive of that free space. ">
	  <%= stylesheet_link_tag "application", :media => "all" %>
	  <%= favicon_link_tag 'favicon.ico' %>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>
	</head>
	<body>

		<%= render 'layouts/header' %>
		<div class="container">
			<% flash.each do |name, msg| %>
				<%= content_tag(:div, msg, class: "alert alert-#{name}") %>
			<% end %>
			<%= yield %>
			</div>
			<%= render 'layouts/footer' %>

		</div>
			<%= render 'layouts/footer' %>
	</body>
</html>
